.nomargin{
	margin:0;
	padding:0;
}
#whiteback{
	background:#FFFFFF;
	color:#000000;
}
#blackback{
	color:#FFFFFF;
}

.title {
    color: #FFFFFF;
    position:relative;
    font-family:"Times New Roman", serif;
    font-weight:100;
    font-size:30pt;
	padding-left:30pt;
	padding-top:30pt;
}
.header{
	background: #FFFFFF;
    padding: 0px 0px;
	margin-top:-27pt;
	position: fixed;
	z-index:500;
    justify-content: space-between;
    width: 100%;
	height:50pt;
	text-decoration:none;
	transition:0.3s;
	font-size:14pt;
}
.header.transform{
	background:rgba(255,255,255,0.7);
}
.headerfont{
	font-family:"Times New Roman", serif;
	text-align:center;
}
.titlefont{
	color:#000000;
	font-family:"Times New Roman",serif;
	font-size:15pt;
	margin-left:-25pt;
	margin-top:0pt;
	display:inline;
}
#gnav {
	position:relative;
}
#gnav ul{
	overflow:hidden;
}
#gnav li{
	float:left;
	position:relative;
	width:120pt;
	list-style:none;
	text-decoration:none;
	margin-top:5pt;
}
a{
	color:#000000;
	text-decoration:none;
}
a:hover::after{
	transform:scale(1,1);
	height:1pt;
}

a::after{
	position:absolute;
	left:0pt;
	margin-top:16pt;
	margin-left:8pt;
	content: '';
	width:100pt;
	height:1pt;
	background:#333;
	transform:scale(0,1);
	transform-origin:left top;
	transition:transform .3s;
}
.atop{
	position:relative;
	top:-50pt;
}
.acalc{
	position:relative;
	top:-70pt
}
.aabout{
	position:relative;
	top:0pt
}
.amethod{
	position:relative;
	top:-160pt
}
.padding{
	padding-left:30pt;
	padding-top:-60pt;
}
.lline{
    padding:0pt;
    color:#AAAAAA;
    border:none;
    border-top:solid 0.02px;
    position:relative;
    left:-50pt;
}
.rline{
    padding:0pt;
    color:#AAAAAA;
    border:none;
    border-top:solid 0.02px;
    position:absolute;
    width:80%;
	left:20%;
}
.press{
	font-size:14pt;
	position:absolute;
	left:83%;
	margin-top:10pt;
	font-family:"Times New Roman",serif;
}

.error{
	font-size:15pt;
	font-family:"Times New Roman",serif;
	position:absolute;
	left:0%;
	margin-left:250pt;
	margin-top:5pt;
}

.error2{
	font-size:15pt;
	font-family:"Times New Roman",serif;
	position:absolute;
	left:0%;
	margin-left:250pt;
	margin-top:-30pt;
}

.error3{
	font-size:15pt;
	font-family:"Times New Roman",serif;
	position:absolute;
	left:0%;
	margin-left:250pt;
	margin-top:-75pt;
}

.scrollwindow{
	width:40%;
	height:10pt;
	background-color:"#000000";
	overflow:scroll;
}

.fontchange{
    font-family:cursive;
    font-size:20pt;
	margin-top:-23pt;
}
/*テキストボックス*/

.cp_iptxt4n {
	position: relative;
	width: 20%;    
    position:absolute;
    left:5%;
    margin:0 0 0 0;
	color:#FFFFFF;
}

.cp_iptxt4k {
	position: relative;
	width: 20%;
    position:absolute;
    left:28%;
    margin:0 0 0 0;
	color:#FFFFFF;
}
.cp_iptxt4q {
	position: relative;
	width: 20%;
    position:absolute;
    left:51%;
    margin:0 0 0 0;
}

.cp_iptxt input[type='text'] {
	font: 35px  "Times New Roman", serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 0px;
	padding-left: 30pt;
    color:#FFFFFF;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	--padding: 7px 14px;
	transition: 0.4s;
	border: 1px solid #aaaaaa;
	background: transparent;
}
.ef ~ .focus_line:before,
.ef ~ .focus_line:after {
	position: absolute;
	top: -1px;
	left: 50%;
	width: 0;
	height: 2px;
	content: '';
	transition: 0.4s;
	background-color: #FFFFFF;
}
.ef ~ .focus_line:after {
	top: auto;
	bottom: 0;
}
.ef ~ .focus_line i:before,
.ef ~ .focus_line i:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 2px;
	height: 0;
	content: '';
	transition: 0.6s;
	background-color: #FFFFFF;
}
.ef ~ .focus_line i:after {
	right: 0;
	left: auto;
}
.ef:focus ~ .focus_line:before,
.ef:focus ~ .focus_line:after,
.cp_iptxt.ef ~ .focus_line:before,
.cp_iptxt.ef ~ .focus_line:after {
	left: 0;
	width: 100%;
	transition: 0.4s;
}
.ef:focus ~ .focus_line i:before,
.ef:focus ~ .focus_line i:after,
.cp_iptxt.ef ~ .focus_line i:before,
.cp_iptxt.ef ~ .focus_line i:after {
	top: -1px;
	height: 100%;
	transition: 0.6s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 15px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #FFFFFF;
    font-family:"Times New Roman", serif;
	font-size:22px;
}
.ef:focus ~ label,
.cp_iptxt.ef ~ label {
	font-size: 14px;
	top: -18px;
	left: 0;
	transition: 0.3s;
	color: #FFFFFF;
}


/*ほわっ*/
.effect-fade {
    animation-name: fadein;
    animation-duration: 1.5s;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*ゆっくりほわっ*/
.effect-fadeslow {
    animation-name: fadein;
    animation-duration: 3.5s;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*右からスライドイン*/
.effect-slide-r {
    animation-name: slideinr;
    animation-duration: 1.5s;
}
@keyframes slideinr {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}
/*左からスライドイン*/
.effect-slide-l{
    animation-name: slideinl;
    animation-duration: 1.5s;
}
@keyframes slideinl {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}
/*ボタン*/
a.btn-border {
	border-radius: 0;
  }
  
  a.btn-border:before,
  a.btn-border:after {
	position: absolute;
  
	width: 100%;
	height: 2px;
  
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
  
	background: #FFFFFF;
  }
  
  a.btn-border:before {
	top: 0;
	left: 0;
  }
  
  a.btn-border:after {
	right: 0;
	bottom: 0;
  }
  
  a.btn-border:hover:before,
  a.btn-border:hover:after {
	width: 0;
  }
  
  *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*計算ボタン*/
.calbutton{
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	color:#FFFFFF;
	border:0;
	border-radius:0;
	border: 2px solid;
	background:#000000;
	border-top-color:#FFFFFF;
	border-bottom-color:#FFFFFF;
	border-left-color:#000000;
	border-right-color:#000000;
	font-size:30px;
    font-family:"Times New Roman", serif;
	padding-left: 30pt;
	padding-right:30pt;
	cursor:pointer;
	position:absolute;
	left:70pt;
	outline:none;
}
.calbutton:hover {
	background-color:#222222;
	transition:0.3s;
}
.copybutton{
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	color:#FFFFFF;
	border:0;
	border-radius:0;
	border: 0.2px solid;
	background:#333333;
	border-top-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
	border-right-color:#000000;
	font-size:12px;
    font-family:"Times New Roman", serif;
	padding-left: 14pt;
	padding-right:14pt;
	cursor:pointer;
	position:relative;
	left:90%;
	top:-10pt;
	outline:none;
}
.copybutton:hover {
	background-color:#555555;
	transition:0.3s;
}
   
.resultlabel1{
	font-family :"Times New Roman", serif;
	font-size:45pt;
	opacity:1;
	transition:3s;
	position:absolute;
	left:32%;
	margin-top:42pt;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

.resultlabel2{
	font-family :"Times New Roman", serif;
	font-size:45pt;
	opacity:1;
	transition:3s;
	position:absolute;
	left:32%;
	margin-top:30pt;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
	width:63%;
	height:70pt;
	overflow-y:scroll;
	white-space:nowrap;
	background-color:transparent;
	color:#FFFFFF;
	border:none;
}
::-webkit-scrollbar {
    width: 6px;
	height:5px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgb(0, 0, 0);
}

.notice1{
	font-family :"Times New Roman", serif;
	font-size:20pt;
	position:relative;
	left:25%;
	width:50%;
}

.notice2{
	font-family :"Times New Roman", serif;
	font-size:20pt;
	position:relative;
	left:25%;
	width:50%;
}
.notice3{
	font-family :"Times New Roman", serif;
	font-size:20pt;
	position:relative;
	left:25%;
	width:50%;
}
.explanation1{
	font-family :"Times New Roman", serif;
	font-size:25pt;
	position:relative;
	left:4%;
	width:84%;
	color:#FFFFFF;
}
.explanation2{
	font-family :"Times New Roman", serif;
	font-size:15pt;
	position:relative;
	left:8%;
	width:84%;
	color:#FFFFFF;
}
.mathmargin{
	margin-left:100pt;
}
.mathmargin2{
	margin-left:50pt;
}
.diagram1{
	width:40%;
	position:relative;
	left:5%;
}
.diagram2{
	width:40%;
	position:relative;
	left:5%;
}
.topdownexp{
	margin-top:500pt;
}
.about{
	font-family:"Times New Roman",serif;
	font-size:55pt;
	position:absolute;
	right:5%;
	margin-top:40pt;
}
.aboutline{
    padding:0pt;
    color:#000000;
    border:none;
    border-top:solid 10px;
    position:absolute;
    width:35%;
	height:5px;
	left:65%;
}
.aboutline::after{
	display:block;
	background:#FFFFFF;
	color:#FFFFFF;
	content:"$";
	margin-top:-5pt;
	position:relative;
	transform:rotate(-60deg);
	width:30pt;
	height:50pt;
}
.method{
	font-family:"Times New Roman",serif;
	font-size:55pt;
	position:absolute;
	left:5%;
	margin-top:50pt;
}
.methodline{
    padding:0pt;
    color:#FFFFFF;
    border:none;
    border-top:solid 10px;
    position:absolute;
    width:35%;
	height:5px;
	left:0%;
}
.methodline::after{
	display:block;
	background:#000000;
	color:#000000;
	content:"$";
	margin-top:-12pt;
	margin-left:95%;
	position:relative;
	transform:rotate(50deg);
	width:30pt;
	height:50pt;
}
.fade_off {
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.transparent {
    opacity: 0;
}

.fade_on {
    opacity: 2;
}

.math{
	font-size:30pt;
	position:absolute;
	right:70%;
}

#chart01{
	width: 100%;
	height: 100%;
}

.wrap-chart{
	width:80%;
	height:500pt;
	margin-left:10%;
}
